 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700;900&display=swap');

body {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(500px, 1fr) );
    grid-template-rows: 25px auto auto;
    grid-template-areas: 
    "topbar topbar topbar "
    "profile  .  content   "
    ".  .  content   " ;

    
    background-color: #f6f5de;
    font-family: 'Source Code Pro', monospace;

    
}

.topbar {
    grid-area: topbar;

}

.profile {
    grid-area: profile;

}

.content {
    grid-area: content;

}




 /*
body,
html {
    margin: 0;
    height: 100vh;
    background-color: #f6f5f7;
    background-color: #f6f5de;
    font-family: 'Source Code Pro', monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__avatar img {
    border-radius: 50%;
    border-style: solid;
    border-color: #e17b77;
    height: 200px; 
    margin: 8px 25px 25px 25px;
} 

.user__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card-user__social-medias {
    display: flex;
}

.user__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.user__item  {
    padding: 0.3em 0.2em;
    margin-right: 0.5em;
    color: whitesmoke;
    font-size: 1.7em;
    margin: 15px 0 15px 0;
}

a {
    color: black;
}

a:hover {
    color: #e17b77;
}

strong {

    color: #c92c2c;

}

.user__job {
   font-weight: bolder;
}

.user__name {
    font-weight: bolder;
    font-size: 1.4em;
}


.content {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
}

@media (max-width: 780px) {
    .content {
        flex-direction: column;
    }
}

.content__about-me {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content__about-me__container{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    border-radius: 15px;    
    margin-left: 25px;
    box-shadow: 0 5px 5px 5px #888888;
}

.content__title__about-me {    
    margin-left: 10px;
    padding-top: 5px;
    font-size: 1.17em;
    font-weight: bolder;
}

.content__skills {
    grid-column: 2;
    display: flex;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    width: 50%;    
    margin-left: 25px;
    box-shadow: 0 5px 5px 5px #888888;

}

.content__title_skills {   
    margin-left: 10px;
    padding-top: 5px;
    font-size: 1.17em;
    font-weight: bolder;
}

.content__list-skills {    
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin-left: 25px;
}

.content__list-skills_language {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content__skills__item {
    padding: 0.3em 0.2em;
    margin-right: 0.5em;
    color: black;
    font-size: 1.7em;
    margin: 15px 0 15px 0;
}



.card__title {
    background-color: #bc9b78;
    margin: 0;
    color: whitesmoke;
    padding: 10px;
    text-align: center;

    #444

} */