@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700;900&display=swap');

html,
main {
  background-color: var(--bg);
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 25px auto auto;
  grid-template-areas: 
  " header "
  "description"
  " content ";
  

  --bg: #fcfcfc;
  --br-strong: #BC434E;
  --br-heading: #CCCCCC;
}

